@model TicketSystem.API.Domain.ViewModels.AdminClientProfileVM
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Client Details";
}
<!-- //END SIDEPANEL --><!-- PAGE CONTENT CONTAINER -->
<div class="content" id="content">
    <!-- PAGE HEADING -->
    <div class="page-heading">
        <div class="page-heading__container">
            <h1 class="title">Client Profile</h1>
            @*<p class="caption">Welcome Estring</p>*@
        </div>
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Home" asp-action="Index">Dashboard</a>
                </li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active">Client Profile</li>
            </ol>
        </nav>
    </div>
    <!-- //END PAGE HEADING -->
    <div class="container-fluid">
        <div class="row margin-bottom-20">
            <div class="col-12 col-lg-2">
                <div class="widget">
                    <div class="widget__icon_layer widget__icon_layer--right">
                        <span class="li-window"></span>
                    </div>
                    <div class="widget__container">
                        <div class="widget__line">
                            <div class="widget__icon">
                                <span class="li-window"></span>
                            </div>
                            <div class="widget__title">Clients</div>
                            <div class="widget__subtitle">
                                Count of clients
                            </div>
                        </div>
                        <div class="widget__box widget__box--left">
                            <div class="widget__informer">
                                @if (Model.getClientCount >= 0)
                                {
                                    @Model.getClientCount;
                                } Clients
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-2">
                <div class="widget">
                    <div class="widget__icon_layer widget__icon_layer--right">
                        <span class="li-window"></span>
                    </div>
                    <div class="widget__container">
                        <div class="widget__line">
                            <div class="widget__icon">
                                <span class="li-window"></span>
                            </div>
                            <div class="widget__title">Ticket Count</div>
                        </div>
                        <div class="widget__box widget__box--left">
                            <div class="widget__informer">
                                @if (Model.getTicketCount >= 0)
                                {
                                    @Model.getTicketCount;
                                } Tickets
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-2">
                <div class="widget">
                    <div class="widget__icon_layer widget__icon_layer--right">
                        <span class="li-window"></span>
                    </div>
                    <div class="widget__container">
                        <div class="widget__line">
                            <div class="widget__icon">
                                <span class="li-window"></span>
                            </div>
                            <div class="widget__title">Open Tickets</div>
                        </div>
                        <div class="widget__box widget__box--left">
                            <div class="widget__informer">
                                @if (Model.getOpenTicketCount >= 0)
                                {
                                    @Model.getOpenTicketCount;
                                } Open Tickets
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-2">
                <div class="widget">
                    <div class="widget__icon_layer widget__icon_layer--right">
                        <span class="li-window"></span>
                    </div>
                    <div class="widget__container">
                        <div class="widget__line">
                            <div class="widget__icon">
                                <span class="li-window"></span>
                            </div>
                            <div class="widget__title">Pending Tickets</div>
                        </div>
                        <div class="widget__box widget__box--left">
                            <div class="widget__informer">
                                @if (Model.getTicketInProgressCount >= 0)
                                {
                                    @Model.getTicketInProgressCount;
                                }  Pending Tickets
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-2">
                <div class="widget">
                    <div class="widget__icon_layer widget__icon_layer--right">
                        <span class="li-window"></span>
                    </div>
                    <div class="widget__container">
                        <div class="widget__line">
                            <div class="widget__icon">
                                <span class="li-window"></span>
                            </div>
                            <div class="widget__title">Closed Tickets</div>
                        </div>
                        <div class="widget__box widget__box--left">
                            <div class="widget__informer">
                                @if (Model.getClosedTicketCount >= 0)
                                {
                                    @Model.getClosedTicketCount;
                                } Closed Tickets
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3"></div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="card card-inner-container--up">
                    <div class="card-body">
                        <div class="card-inner-container card-inner-container card-inner-container--light">
                            <div class="user user--rounded user--bordered user--lg margin-bottom-0">
                                <div class="user__name">
                                    Name:<strong>
                                        @if (Model.clientProfile.responseObject != null)
                                        {@Model.clientProfile.responseObject.name}
                                    </strong><br /><span class="text-muted">
                                        Email: <b>
                                            @if (Model.clientProfile.responseObject != null)
                                            {@Model.clientProfile.responseObject.email}
                                        </b>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-bottom-20 text-center">
                            <div class="col-12">
                                <p class="margin-bottom-10">
                                    Address:
                                    <b>
                                        @if (Model.clientProfile.responseObject != null)
                                        {@Model.clientProfile.responseObject.address;
                                    }
                                    </b>
                                </p>
                            </div>
                            <div class="col-12">
                                <div class="text-muted margin-bottom-5">
                                    Website: <b>www.client_web_adrress@domain.com</b>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="text-muted">
                                    @if (Model.clientProfile.responseObject != null)
                                    {@Model.clientProfile.responseObject.phoneNumber;
                                }
                                </div>
                            </div>
                        </div>
                        @*<div class="row">
                            <div class="col-6">
                                <div class="user-group user-group--bordered">
                                    <div class="user user--rounded">
                                        <img src="assets/img/users/user_1.jpg" />
                                    </div>
                                    <div class="user user--rounded">
                                        <img src="assets/img/users/user_2.jpg" />
                                    </div>
                                    <div class="user user--rounded">
                                        <img src="assets/img/users/user_3.jpg" />
                                    </div>
                                    <div class="user user--rounded">
                                        <img src="assets/img/users/user_4.jpg" />
                                    </div>
                                    <div class="user user--rounded">
                                        <img src="assets/img/users/user_5.jpg" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 text-right">
                                <span class="text-muted">15 min ago</span>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
            <div></div>
        </div>
    </div>
</div>
<!-- //END PAGE CONTENT CONTAINER -->