@model TicketSystem.API.Domain.ViewModels.AdminTicketVM
@{
    //Layout = "~/Views/Shared/_ClientLayout.cshtml";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Raised Ticket";
}
<!-- PAGE CONTENT CONTAINER -->
<div class="content" id="content">
    <!-- PAGE HEADING -->
    <div class="page-heading">
        <div class="page-heading__container">
            @*<p class="caption">Welcome Estring</p>*@
        </div>
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Home" asp-action="Index">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Client</li>
            </ol>
        </nav>
    </div>
    <!-- //END PAGE HEADING -->
    <div class="container-fluid">
        <div class="row margin-bottom-20">
            <div class="col-12 col-lg-2">
                <div class="widget">
                    <div class="widget__icon_layer widget__icon_layer--right">
                        <span class="li-window"></span>
                    </div>
                    <div class="widget__container">
                        <div class="widget__line">
                            <div class="widget__icon">
                                <span class="li-window"></span>
                            </div>
                            <div class="widget__title">Clients</div>
                            <div class="widget__subtitle">
                                Count of clients
                            </div>
                        </div>
                        <div class="widget__box widget__box--left">
                            <div class="widget__informer">
                                @if (Model.getClientCount >= 0)
                                {
                                    @Model.getClientCount;
                                } Clients
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-2">
                <div class="widget">
                    <div class="widget__icon_layer widget__icon_layer--right">
                        <span class="li-window"></span>
                    </div>
                    <div class="widget__container">
                        <div class="widget__line">
                            <div class="widget__icon">
                                <span class="li-window"></span>
                            </div>
                            <div class="widget__title">Ticket Count</div>
                        </div>
                        <div class="widget__box widget__box--left">
                            <div class="widget__informer">
                                @if (Model.getTicketCount >= 0)
                                {
                                    @Model.getTicketCount;
                                } Tickets
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-2">
                <div class="widget">
                    <div class="widget__icon_layer widget__icon_layer--right">
                        <span class="li-window"></span>
                    </div>
                    <div class="widget__container">
                        <div class="widget__line">
                            <div class="widget__icon">
                                <span class="li-window"></span>
                            </div>
                            <div class="widget__title">Open Tickets</div>
                        </div>
                        <div class="widget__box widget__box--left">
                            <div class="widget__informer">
                                @if (Model.getOpenTicketCount >= 0)
                                {
                                    @Model.getOpenTicketCount;
                                } Open Tickets
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-2">
                <div class="widget">
                    <div class="widget__icon_layer widget__icon_layer--right">
                        <span class="li-window"></span>
                    </div>
                    <div class="widget__container">
                        <div class="widget__line">
                            <div class="widget__icon">
                                <span class="li-window"></span>
                            </div>
                            <div class="widget__title">Pending Tickets</div>
                        </div>
                        <div class="widget__box widget__box--left">
                            <div class="widget__informer">
                                @if (Model.getTicketInProgressCount >= 0)
                                {
                                    @Model.getTicketInProgressCount;
                                }  Pending Tickets
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-2">
                <div class="widget">
                    <div class="widget__icon_layer widget__icon_layer--right">
                        <span class="li-window"></span>
                    </div>
                    <div class="widget__container">
                        <div class="widget__line">
                            <div class="widget__icon">
                                <span class="li-window"></span>
                            </div>
                            <div class="widget__title">Closed Tickets</div>
                        </div>
                        <div class="widget__box widget__box--left">
                            <div class="widget__informer">
                                @if (Model.getClosedTicketCount >= 0)
                                {
                                    @Model.getClosedTicketCount;
                                } Closed Tickets
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card margin-bottom-0">
            <div class="card-body">
                <div class="table-responsive margin-top-20">
                    <table class="table table-bordered" cellspacing="0" width="100%" id="dt-example-buttons">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>TicketID</th>
                                <th>Client</th>
                                <th>Priority Level</th>
                                <th>Date Opened</th>
                                <th>Details</th>
                                <th>Assign Ticket</th>
                                @*<th>Delete</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @{int counter = 1;
                                if (Model != null)
                                {
                                    foreach (var item in Model.tickets.responseObject)
                                    {
                                        <tr>
                                            <td>@counter</td>
                                            <td>@item.ticketId</td>
                                            <td>@item.clientId</td>
                                            <td>@item.priorityLevel</td>
                                            <td>@item.openDate</td>
                                            <td><a class="btn btn-outline-info" asp-action="ticketDetails" asp-route-ticketId="@item.ticketId">Details </a></td>
                                            <td><a class="btn btn-outline-light" asp-action="editClient" asp-route-ticketId="@item.ticketId">Assign</a></td>
                                            @*<td><a class="btn btn-outline-danger" asp-action="delete" asp-route-ticketId="@item.ticketId">Delete</a></td>*@
                                        </tr>
                                        counter++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //END PAGE CONTENT CONTAINER -->
