@model TicketSystem.API.Domain.ViewModels.AdminTicketDetailsVM
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Ticket Details";
}
<!-- //END SIDEPANEL -->
<!-- PAGE CONTENT CONTAINER -->
<div class="content" id="content">
    <!-- PAGE HEADING -->
    <div class="page-heading">
        <div class="page-heading__container">
            <h1 class="title">Client Profile</h1>
            @*<p class="caption">Welcome Estring</p>*@
        </div>
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Home" asp-action="Index">Dashboard</a>
                </li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active">Ticket Details</li>
            </ol>
        </nav>
    </div>
    <!-- //END PAGE HEADING -->
    <div class="container-fluid">
        <div class="row margin-bottom-20">
            <div class="col-12 col-lg-2">
                <div class="widget">
                    <div class="widget__icon_layer widget__icon_layer--right">
                        <span class="li-window"></span>
                    </div>
                    <div class="widget__container">
                        <div class="widget__line">
                            <div class="widget__icon">
                                <span class="li-window"></span>
                            </div>
                            <div class="widget__title">Clients</div>
                            <div class="widget__subtitle">
                                Count of clients
                            </div>
                        </div>
                        <div class="widget__box widget__box--left">
                            <div class="widget__informer">
                                @if (Model.getClientCount >= 0)
                                {
                                    @Model.getClientCount;
                                } Clients
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-2">
                <div class="widget">
                    <div class="widget__icon_layer widget__icon_layer--right">
                        <span class="li-window"></span>
                    </div>
                    <div class="widget__container">
                        <div class="widget__line">
                            <div class="widget__icon">
                                <span class="li-window"></span>
                            </div>
                            <div class="widget__title">Ticket Count</div>
                        </div>
                        <div class="widget__box widget__box--left">
                            <div class="widget__informer">
                                @if (Model.getTicketCount >= 0)
                                {
                                    @Model.getTicketCount;
                                } Tickets
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-2">
                <div class="widget">
                    <div class="widget__icon_layer widget__icon_layer--right">
                        <span class="li-window"></span>
                    </div>
                    <div class="widget__container">
                        <div class="widget__line">
                            <div class="widget__icon">
                                <span class="li-window"></span>
                            </div>
                            <div class="widget__title">Open Tickets</div>
                        </div>
                        <div class="widget__box widget__box--left">
                            <div class="widget__informer">
                                @if (Model.getOpenTicketCount >= 0)
                                {
                                    @Model.getOpenTicketCount;
                                } Open Tickets
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-2">
                <div class="widget">
                    <div class="widget__icon_layer widget__icon_layer--right">
                        <span class="li-window"></span>
                    </div>
                    <div class="widget__container">
                        <div class="widget__line">
                            <div class="widget__icon">
                                <span class="li-window"></span>
                            </div>
                            <div class="widget__title">Pending Tickets</div>
                        </div>
                        <div class="widget__box widget__box--left">
                            <div class="widget__informer">
                                @if (Model.getTicketInProgressCount >= 0)
                                {
                                    @Model.getTicketInProgressCount;
                                }  Pending Tickets
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-2">
                <div class="widget">
                    <div class="widget__icon_layer widget__icon_layer--right">
                        <span class="li-window"></span>
                    </div>
                    <div class="widget__container">
                        <div class="widget__line">
                            <div class="widget__icon">
                                <span class="li-window"></span>
                            </div>
                            <div class="widget__title">Closed Tickets</div>
                        </div>
                        <div class="widget__box widget__box--left">
                            <div class="widget__informer">
                                @if (Model.getClosedTicketCount >= 0)
                                {
                                    @Model.getClosedTicketCount;
                                } Closed Tickets
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3"></div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="card card-inner-container--up">
                    <div class="card-body">
                        <div class="card-inner-container card-inner-container card-inner-container--light">
                            <div class="user user--rounded user--bordered user--lg margin-bottom-0">
                                <div class="user__name">
                                    Client Name:<strong>
                                        @if (Model.ticketDetail.responseObject != null)
                                        {@Model.ticketDetail.responseObject.client}
                                    </strong><br /><span class="text-muted">
                                        Email: <b>
                                            @if (Model.ticketDetail.responseObject != null)
                                            {@Model.ticketDetail.responseObject.client}
                                        </b>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-bottom-20 text-center">
                            <div class="col-12">
                                <p class="margin-bottom-10">
                                    Ticket Description:
                                    <b>
                                        @if (Model.ticketDetail.responseObject != null)
                                        {@Model.ticketDetail.responseObject.description;
                                    }
                                    </b>
                                </p>
                            </div>
                            <div class="col-12">
                                <p class="margin-bottom-10">
                                    Request Type:
                                    <b>
                                        @if (Model.ticketDetail.responseObject != null)
                                        {@Model.ticketDetail.responseObject.requestType;
                                    }
                                    </b>
                                </p>
                            </div>
                            <div class="col-12">
                                <p class="margin-bottom-10">
                                    Ticket Status:
                                    <b>
                                        @if (Model.ticketDetail.responseObject != null)
                                        {@Model.ticketDetail.responseObject.ticketStatus;
                                    }
                                    </b>
                                </p>
                            </div>
                            <div class="col-12">
                                <p class="margin-bottom-10">
                                    Priority Level:
                                    <b>
                                        @if (Model.ticketDetail.responseObject != null)
                                        {@Model.ticketDetail.responseObject.priorityLevel;
                                    }
                                    </b>
                                </p>
                            </div>
                            <div class="col-12">
                                <p class="margin-bottom-10">
                                    Opened Date:
                                    <b>
                                        @if (Model.ticketDetail.responseObject != null)
                                        {@Model.ticketDetail.responseObject.openDate;
                                    }
                                    </b>
                                </p>
                            </div>
                            @*<div class="col-12">
                                <div class="text-muted">
                                    @if (Model.responseObject != null)
                                    {@Model.responseObject.phoneNumber;
                                }
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
            <div></div>
        </div>
    </div>
</div>
<!-- //END PAGE CONTENT CONTAINER -->
